@import '../application/_theme.scss';

.feed {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px);

  &Sidebar {
    position: relative;
    min-width: 280px;
    max-width: 280px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
  }

  &Channels {
    height: calc(100% - 49px);
    overflow-y: auto;
  }

  &Nav {
    display: flex;
    align-items: stretch;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    @include shadow(12px);

    &Button {
      flex-grow: 1;
      border-radius: 0;
    }
  }
}

.channels {
  &Item {
    font-size: 14px;

    &Enabled {
      color: $primaryColor;
    }
  }
}

.playlist {

  flex-grow: 2;
  padding-bottom: 32px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 0 16px 48px 16px;

  &Empty {
    text-align: center;
    padding-top: 64px;
    color: $secondaryTextColor;
  }

  &Tracks {
    @include shadow(20px);
    background: #fff
  }

  &Shuffle {
    color: $secondaryTextColor;

    &Active {
      color: $primaryTextColor;
    }
  }
}

.track {
  transition: background-color .1s ease-out;

  &Artist {
    color: $secondaryTextColor;
  }

  &Duration {
    display: inline-block;
    position: absolute;
    right: 56px;
    font-size: 14px;
    color: $secondaryTextColor;
  }

  &ChannelImage {
    opacity: .5;
  }

  &Current {
    background-color: rgba(0, 0, 0, .08);

    &Icon {
      color: $secondaryTextColor;
    }
  }

  &ErrorIcon {
    color: $errorColor;
  }
}
