@import '../app/_theme.scss';

.root {
  padding: 0;
  padding-top: 8px;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  flex-grow: 1;
  overflow-y: auto;
}

.channel {
  display: flex;
  height: 36px;
  padding: 6px 8px;
  margin: 0;
  line-height: 24px;
  font-size: 13px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: rgba(#efefef, .5);

    & .remove {
      display: inline-block;
    }
  }

  &Enabled {
    color: $primaryColor;

    .avatar {
      box-shadow: 0 0 0 2px $primaryColor;
    }
  }
}

.avatar {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  float: left;
  background-color: #efefef;
  flex-shrink: 0;
}

.name {
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.remove {
  flex-shrink: 0;
  margin: 0 4px;
  display: none;
}
