{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "Promise": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "no-debugger": [1],
    "no-empty": [1],
    "no-extra-semi": [2],
    "semi": [2, "always"],
    "no-undef": [2],
    "no-unused-vars": [2],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-no-undef": 2
  }
}
