@import '../../application/_theme.scss';

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: 16px;
  color: $primaryTextColor;

  &PrimaryText {
    display: inline-block;
    width: 100%;
    @include ellipsis;
  }

  &SecondaryText {
    display: inline-block;
    width: 100%;
    font-size: 0.9em;
    color: $secondaryTextColor;
    @include ellipsis;
  }

  @mixin sideElement {
    position: absolute;
  }

  &LeftElement {
    left: 16px;
    @include sideElement;
  }

  &RightElement {
    right: 16px;
    @include sideElement;
  }

  &Interactive {
    cursor: pointer;
    transition: background-color .1s ease-out;

    &:hover {
      background-color: rgba(158,158,158,0.2);
    }
  }
}

.label {
  position: relative;
  height: 48px;
  padding: 0 16px;
  box-sizing: border-box;

  &Text {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: 48px;
    color: $secondaryTextColor;
    text-transform: uppercase;
    @include ellipsis;
  }

  &RightElement {
    position: absolute;
    right: 16px;
    top: 12px;
  }
}
