.channels {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &-item {
    position: relative;
    height: 48px;
    padding-left: 72px;
    cursor: pointer;
    color: @text-light-bg-87;
    font-size: 14px;
    line-height: 48px;

    &-icon {
      position: absolute;
      top: 0px;
      left: 12px;
      transition: transform .15s ease-out;

      &-unchecked {
        transform: scale(0, 0) rotate(90deg);
      }
    }
  }
}
