.header {
  position: relative;
  height: 64px;
  padding: 0 72px;
  background: linear-gradient(to bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);

  &-title {
    color: #fff;
    font-size: 24px;
    line-height: 64px;

    // @todo: conflicts with .channels-menu somehow
    // transition: opacity .2s ease-out;

    &-shrink {
      opacity: 0;
    }
  }

  &-button-github {
    .button();
    position: absolute;
    top: 8px;
    background-image: url(/assets/images/icon-github.svg);
    background-size: 22px 22px;
    right: 12px;
  }
}
