@primary: #3F51B5;
@primary-100: #C5CAE9;
@primary-700: #303F9F;
@secondary: #FF4081;
@secondary-100: #FF80AB;
@secondary-400: #F50057;

// @todo: fix semantics!
@gray-4: rgba(0, 0, 0, .04);
@gray-8: rgba(0, 0, 0, .08);
@gray-27: rgba(0, 0, 0, .27);
@gray-56: rgba(0, 0, 0, .56);
@white-16: rgba(255, 255, 255, .16);

@shadow-primary: 0 2px 5px @gray-27;
@shadow-primary-bottom: 0 2px 5px -2px @gray-27;
@shadow-secondary: 0 1px 3px @gray-27;

@text-light-bg-87: rgba(0, 0, 0, .87);

@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.application {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

.header {
  height: 64px;
  position: relative;
  background: linear-gradient(to bottom, rgba(0,0,0,.25) 0%, rgba(0,0,0,0) 100%);
  z-index: 100;
  transition: background .3s ease-out;

  &-wrapper {
    margin: 0 72px;
    color: #fff;
  }

  &-title {
    font-size: 24px;
    line-height: 64px;
    transition: opacity .3s ease-out;
  }

  &-narrow {
    background: transparent;

    .header-title {
      opacity: 0;
    }
  }
}

.button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  cursor: pointer;
}

.nav-button() {
  position: absolute;
  top: 8px;
  .button();
}

.button-humburger {
  .nav-button();
  background-image: url(/assets/images/icon-humburger.svg);
  left: 12px;
}

.button-github {
  .nav-button();
  background-image: url(/assets/images/icon-github.svg);
  background-size: 22px 22px;
  right: 12px;
}

.button-back {
  .nav-button();
  background-image: url(/assets/images/icon-back.svg);
  left: 12px;
}

.cover {
  position: relative;
  height: 304px;
  color: #fff;
  overflow: hidden;
  margin-top: -72px;
  z-index: -10;

  &::before {
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    content: "";
  }

  &-image {
    content: "";
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .44;
    transition: background-image 1s ease-out .2s;
  }

  &-track {
    position: absolute;
    bottom: 48px;
    overflow: hidden;
    white-space: nowrap;
    left: 32px;
    transition: left .2s ease-out;

    &-title {
      .cover-track-text();
      font-size: 48px;
      transition: font-size .2s ease-out;
    }

    &-artist {
      .cover-track-text();
      font-size: 24px;
      color: #9e9e9e;
      transition: font-size .2s ease-out;
      transition: display 1s ease-out;
    }
  }

  &-track-narrow {
    width: 300px;
    top: 24px;
    left: 72px;
    .cover-track-text();

    .cover-track-title {
      display: inline;
      font-size: 24px;

      &::after {
        content: ' ';
      }
    }

    .cover-track-artist {
      display: inline;
      font-size: 16px;
    }
  }

  .cover-track-text() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.controls {
  position: absolute;
  bottom: 0;
  height: 48px;
  box-shadow: @shadow-primary-bottom;
  box-sizing: border-box;
  padding: 0 72px 0 120px;

  &-time {
    position: absolute;
    top: 16px;
    right: 24px;

    color: rgba(255,255,255,.87);
    font-size: 14px;
  }

  &-seek {
    position: relative;
    top: 12px;

    .progress-value {
      background-color: #fff;
    }
  }

  &-buffer {
    position: relative;
    top: 20px;
    background-color: @white-16;

    &-loading {
      background-color: transparent;
      background-image: url(/assets/images/buffer-circle.svg);
      background-repeat: repeat-x;
      background-size: 12px;
      animation: bufferLoading 3s infinite linear;
    }

    @keyframes bufferLoading {
      0% {
        background-position: 0 center;
      }

      20% {
        background-size: 12px;
      }

      30% {
        background-size: 6px;
      }

      40% {
        background-size: 6px;
      }

      50% {
        background-size: 12px;
      }

      100% {
        background-position: 240px center;
      }
    }
  }
}

.button-play {
  background-image: url(/assets/images/icon-play.svg);
  .button();
  position: absolute;
  left: 12px;
}

.button-pause {
  .button-play();
  background-image: url(/assets/images/icon-pause.svg);
}

.button-next {
  .button();
  background-image: url(/assets/images/icon-next.svg);
  position: absolute;
  left: 60px;
}

.playlist {
  position: relative;
  top: 296px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid @gray-8;
  border-right: 1px solid @gray-8;

  &-item {
    position: relative;
    display: block;

    height: 32px;

    border-bottom: 1px solid @gray-8;
    padding: 20px 32px;

    cursor: pointer;

    box-shadow: 0;
    transition: box-shadow .2s ease-out .1s;

    &-active {
      background-color: @gray-4;
      box-shadow: @shadow-secondary;
    }

    &-title {
      font-size: 16px;
    }

    &-artist {
      display: inline;
      font-size: 14px;
      color: @gray-56;
    }

    &-channel {
      display: inline-block;
      font-size: 14px;
      color: @gray-27;
      float: right;
    }

    &-duration {
      position: absolute;
      top: 22px;
      right: 32px;
      font-size: 14px;
      color: @gray-56;
    }

    &-error {
      background-image: url(/assets/images/icon-error.svg);
      background-repeat: no-repeat;
      background-position: 24px 24px;
      background-size: 24px;
      padding-left: 72px;
    }
  }
}

.scroll-blocker {
  position: fixed;
  z-index: 100;
}

.icon-check {
  width: 48px;
  height: 48px;

  position: absolute;
  top: 0px;
  left: 12px;

  background-image: url(/assets/images/icon-check.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;

  transition: background-size .08s ease-out;

  &-disabled {
    background-size: 0 0;
  }
}

.channels {
  position: fixed;
  z-index: 200;
  background: white;

  width: 256px;
  padding-top: 64px;

  height: 100%;
  box-shadow: @shadow-primary;
  overflow: hidden;

  transition: width .1s ease-out;

  &-hidden {
    width: 0;
  }

  &-items {
    padding: 0;
    margin: 0;
  }

  &-item {
    position: relative;
    padding-left: 72px;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    color: @text-light-bg-87;

    cursor: pointer;
  }
}

.progress {
  width: 100%;
  height: 8px;
  cursor: pointer;

  .progress-value {
    height: 8px;
  }
}
