@import '../../application/_theme.scss';

.flat {
  height: 36px;
  padding: 0 24px;
  line-height: 16px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;

  &Primary {
    color: $primaryColor;

    &:hover {
      background: rgba($primaryColor, .1);
    }
  }

  &Small {
    height: 28px;
    padding: 0 14px;
    line-height: 14px;
    font-size: 14px;
  }

  &:hover {
    background: rgba(0, 0, 0, .1);
  }
}

.icon {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background: rgba(0,0,0,.1);
  }

}
