.button {
  height: 32px;
  padding: 0 14px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color .15s ease-out;
  -webkit-appearance: none;

  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, .15);
  }

  &:hover, &:active {
    background-color: rgba(0, 0, 0, .1);
  }
}
