.icon {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.large {
  height: 32px;
  width: 32px;
  font-size: 32px;
  line-height: 32px;
}

.medium {
  height: 24px;
  width: 24px;
  font-size: 24px;
  line-height: 24px;
}
