@import '../app/_theme.scss';

.root {
  position: relative;
  width: 100%;
  height: 96px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
}

.track {
  height: 64px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
}

.trackName {
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}

.play, .next {
  color: #fff;
  flex-shrink: 0;
}

.next {
  margin: 0 16px 0 8px;
}

.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background-color: $primaryColor;

  &Image {
    position: absolute;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    filter: blur(8px);
    opacity: .5;
    transition: background-image 2s ease-out;
    background-size: cover;
    background-repeat: no-repeat;
    animation: cover-sliding 60s linear infinite alternate;
  }
}

@keyframes cover-sliding {
  from {
    background-position-y: 0%;
  }
  to {
    background-position-y: 100%;
  }
}


