@import '../app/_theme.scss';

$channelsWidth: 240px;
$discoverWidth: 320px;

.root {
    position: absolute;
    top: 0;
    left: $channelsWidth;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #e5e5e5;
    background-color: #fff;
    width: $discoverWidth;
    transform: translate(-100%);
    transition: transform .12s $transformCurve;
    z-index: -1;

    &Visible {
        transform: translate(0);
    }
}
