@import '../application/_theme.scss';

.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;

  &Image {
    position: absolute;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    background-color: $primaryColor;
    background-position-x: center;
    background-repeat-y: repeat;
    background-size: cover;
    filter: blur(8px);
    animation: cover-sliding 60s linear infinite alternate;
    opacity: .5;
    transition: background 2s ease-out;
  }
}

.progress {
  box-sizing: border-box;
  height: 16px;
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;

  &Seekable {
    cursor: pointer;
  }

  &Background {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    height: 4px;
    z-index: -1;
    background-color: rgba(255, 255, 255, .24);

    &Loading {
      background-color: transparent;
      background-image: radial-gradient(rgb(169, 192, 233) 0%, rgb(169, 192, 233) 24%, transparent 50%);
      background-size: 10px 10px;
      background-position: 0px center;
      background-repeat: repeat-x;
      animation: progress-loading 3s infinite linear;
    }
  }

  &Bar {
    position: absolute;
    background-color: $accentColor;
    height: 4px;
    left: 0;
    bottom: 6px;
    transition: width .2s linear;
  }

  &Pointer {
    position: absolute;
    z-index: 10;
    top: 2px;
    margin-left: -8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
    background-color: $accentColor;
    transform: scale(.3);
    transition: opacity .1s ease-out, transform .2s ease-out;

    &Glow {
      position: absolute;
      top: -6px;
      left: -6px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $accentColor;
      opacity: .24;
    }
  }

  &:hover .progressPointer {
    transform: scale(1);
    opacity: 1;
  }

}

.player {
  position: relative;
  height: 60px;
  box-sizing: border-box;
  margin-left: 280px;
  margin-right: 16px;
  padding: 10px 0;
  padding-left: 96px;
  padding-right: 64px;
  white-space: nowrap;

  &Loading {
    padding-right: 102px;
  }

  &Loader {
    position: absolute;
    top: 18px;
    right: 64px;
  }

  &Title {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &Artist {
    font-size: 16px;
  }

  &Time {
    position: absolute;
    right: 4px;
    width: 56px;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    line-height: 40px;
  }

  &Toggle {
    color: $textColor;
    position: absolute;
    left: 0;
  }

  &Next {
    color: $textColor;
    position: absolute;
    left: 48px;
  }
}

.wrapper {
  @include shadow(4px);
  z-index: 4;
  position: relative;
  height: 60px;
  padding: 0 16px;
  color: $textColor;
  background-color: $primaryColor;

  &Logo {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 13px;
    left: 24px;
  }
}

@keyframes cover-sliding {
  from {
    background-position-y: 0%;
  }
  to {
    background-position-y: 100%;
  }
}

@keyframes progress-loading {
  0% {
    opacity: 1;
    background-position: 0px center;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-position: -200px center;
  }
}
