@import '../app/_theme.scss';

.root {
  display: flex;
  flex: 0 0 48px;
  box-sizing: border-box;
  padding: 8px;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
}

.logo {
  width: auto;
  height: 32px;
  margin-right: 8px;
  float: left;
}

.channels {
  display: inline-block;
  flex-grow: 1;
  margin-left: 8px;
  color: $secondaryTextColor;
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
}

.icon {
  margin: 4px 4px;
  color: $secondaryTextColor;
}
