@import '../application/_theme.scss';

.root {
  position: relative;
  min-width: 280px;
  max-width: 280px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  background-color: #fff;
  @include shadow(12px);
}

.channelList {
  height: calc(100% - 49px);
  overflow-y: auto;
}

.nav {
  display: flex;
  align-items: stretch;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);

  &Button {
    flex-grow: 1;
    border-radius: 0;
  }
}
