@import '../app/_theme.scss';

$channelsWidth: 240px;
$discoverWidth: 320px;

.root {
  width: $channelsWidth;
  height: 100%;
  background: #fff;
  @include shadow(1);
  transition: margin-right .25s $transformCurve;

  &WithDiscover {
    margin-right: $discoverWidth;
  }
}
