@import '../application/_theme.scss';

.root {
  position: relative;
  min-width: 280px;
  max-width: 280px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.channelList {
  height: 100%;
  overflow-y: auto;
}
